<section class="author-card">
  <div class="avatar-container">
    <img src="../author.png" alt="陈琼博士" class="author-avatar">
  </div>
  <div class="author-info">
    <h3>陈 琼</h3>
    <a class = "badge badge-red"> <i class="bi bi-award"> </i> 博士 </a>
    <a class = "badge badge-blue"> <i class="bi bi-bar-chart"> </i> 副主任医师 </a>
    <p class="bio">他从事肿瘤登记与人群流行病学研究，编写肿瘤登记年报，并开发和维护个人网站。他撰写博文，分享数据分析方法、可视化技巧和自动化报告解决方案，同时学习 R 语言，开发 R 包，不断探索高效的数据处理与展示方式。 🚀</p>
    <div class="social-links">
      <a href="https://github.com/gigu003" target="_blank">
        <i class="bi bi-github"></i>
      </a>
      <a href="mailto:chenq08@126.com" target="_blank">
        <i class="bi bi-envelope"></i>
      </a>
      <a href="https://scholar.google.com/citations?hl=zh-CN&user=KKgW5AwAAAAJ&view_op=list_works&authuser=1&sortby=pubdate" target="_blank">
        <i class="bi bi-google"></i>
      </a>
    </div>
  </div>
</section>
